@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=IBM+Plex+Mono:ital,wght@1,700&family=Poppins:wght@300&family=Roboto:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
}


.sidebar  ul{
    background-color: rgba(17, 18, 18, 0.685);
    width:100%;
    height: 100%;
    background-color: aqua;
}


.sidebar ul li{
    float: right;
    display: inline;
    margin-left: 54px;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar ul li a{
    text-decoration: none;
    font-size:25px;
    color: black;
    font-weight: bold;
}

.sidebar ul li a:hover{
    color: yellowgreen;
}

.main{
    background-color: rgb(226, 226, 239);
    width: 90vw;
}
.container{
    background-color:rgb(226, 226, 239); 
    display: flex;
}
.infocontainer{
   /* background-color:bisque;*/
   margin-left: 0%;
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
    height: 58vh;
    width: 70vh;
    border-radius: 50%;
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hello{
    font-size: 85px;

}
.name{
    font-size: 50px;
     font-weight: bold;
}
.about{
    margin-top: 23px;
    font-size: 20px;
}
.buttons{
    margin-top: 34px;
}

.buttons button{
    padding:9 px 14 px;
    border-radius: 18px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.875);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3 px;
    cursor: pointer;

}

.buttons button:hover{
    background-color: aliceblue;
    color:black
}
.abou2{
     background-color:  rgba(115, 223, 135, 0.447);
     text-align: center;
     position: relative;
     height:100vh;
     width: 100vw;
}
.a h1{
    font-size:50px ;
    padding-top:6%;
}
.b h2{
    font-size: 30px;
    padding-top:5%;
}
.c{
    font-size: 20px;
    padding-top: 5%;
}
.font{
    font-size: 20px;
}
.font2{
    font-size: 20px;
}
.font3{
    font-size: 20px;
}

.skills{
    position: relative;
    height:100vh;
    width: 100vw;
    background-color: rgba(100, 148, 237, 0.447);
}
.skills>.left{  
    position: absolute;
    left: 5%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
}
.right{
    position: absolute;
    right: 5%;
    padding-top:5%;
    
}
.right h1{
    border-top:3px solid #000;
    padding-top: 3px;
}
.box1{
    position: absolute;
    right: 5%;
    padding-top: 15%;
    border-bottom:3px solid #000;
}
.box1 h1{
    border-top:3px solid #000;
    padding-top: 40px;
}
.box2{
    position: absolute;
    right: 5%;
    padding-top: 30%;
    border-bottom:3px solid #000;
}

.port{
    float: left;
    color: blue;
    font-size: 30px;
    font-family: italic;
    margin-top: 5px;
    margin-left: 5px;
}
.skills h4{
    font-size: 20px;
    padding-top: 40px;
}
.contact{
    position: relative;
    height:100vh;
    width: 100vw;
    background-color: rgb(203, 168, 233);
}
.txt h5{
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}
.txt1 h3{
    text-align: center;
    font-size: 30px;
    padding-top:10%;
}
.txt3 h6{
    text-align: center;
    font-size: 20px;
    padding-top: 10%;

}

.img{
    margin-top: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    
}
.img img{
    height: 5vh;
    width: 3vw;
    border-radius: 50%;
    margin-right:10px; 

}.bottom{
    text-align: center;
    margin-top: 10px;
}
